body {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
}

header {
    
}

main {
   
}

footer {
    
    background-color: gray;
    
}

ul {
    list-style-type: none;
}

button {
    background-color: #f8f9fa;
    border: 0;
    color: 
}

button:hover {
    box-shadow: 0 1px 1px gray,
                1px 0 1px gray,
                -1px 0 1px gray,
                0 -1px 1px gray;

}