#wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    height: 100vh;
}

#header {
    display: flex;
    height: 100px;
    width: auto;
    background-color: gray;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    height: 600px;
    width: auto;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    align-items: center;

}

#footer {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(168, 116, 168);
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;

}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 100%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 30px;
}

button {
    background-color: #f8f9fa;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 0px 16px;
    margin: 11px 4px;
    border-radius: 4px;
    border: 0px;
    text-align: center;
    color: #3c4043;
    height: 36px;
    min-width: 54px;
    border: 1px solid transparent;
}

button:hover {
    border: 1px solid lightgray;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: #202124;
    cursor: pointer;
}

#searchbar {
    display: flex;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 20px;
    min-height: 38px;
    min-width: 380px;
    height: 45px;
    width: 600px;
    max-height: 60px;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#searchbar:hover {
    border: none;
    box-shadow: 0 2px 7px 7px rgba(47, 47, 47, 0.1);
    padding: 1px;
}

#searchbar:active {
    border: none;
    box-shadow: 0 2px 7px 7px rgba(47, 47, 47, 0.1);
}

#searchbar > img {
    height: 24px;
    width: 24px;
    margin: 0px 20px;
}

#searchbox {
    border: none;
    width: 100%;
    height: auto;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
}
